In [1]:
import pandas as pd
import numpy as np

In [3]:
app = pd.read_csv('D:/machine learning/HCD/psep/application_train_1.1.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
app.head()

,Unnamed: 0,ANNUITY_AMT,APARTMENTS_MEDI,APARTMENT_SIZE,APPL_ID,BASEMENTAREA,BUREAU_DAY,BUREAU_HR,BUREAU_MONTH,BUREAU_QRT,BUREAU_WK,BUREAU_YR,CAR_AGE,COMMONAREA,CR_AMT,CR_SCORE1,CR_SCORE2,CR_SCORE3,C_CONTACT_ADDR,C_PMT_ADDR,C_WORK_ADDR,DEF_30_CNT,DEF_60_CNT,DOC11,DOC13,DOC14,DOC15,DOC16,DOC18,DOC2,DOC21,DOC3,DOC6,DOC8,DOC9,EDU_LEVEL,ELEVATORS,EMAIL_FLAG,EMERGENCY_MODE,EMP_DAYS,EMP_PHONE,ENTRANCES,FAMILY_CNT,FAMILY_STATUS,FLOORSMAX,FLOORSMIN,FONDKAPREMONT,GENDER,GOODS_AMT,HOUSETYPE_MODE,HOUSING_TYPE,H_PHONE,ID_PUBLISH_DAYS,INCOME_TYPE,LANDAREA,LIVINGAPARTMENTS,LIVINGAREA,LOAN_TYPE,NONLIVINGAPARTMENTS,NONLIVINGAREA,OBS_30_CNT,OBS_60_CNT,OCCUPATION_TYPE,ORG_TYPE,OWN_CAR,OWN_REALITY,PHONE_CHANGE,PROC_START_HR,PROC_START_WK,REG_DAYS,R_CITY_RATING,R_CONTACT_ADDR,R_PMT_ADDR,R_POP_DENSITY,R_RATING,R_WORK_ADDR,SUITE_TYPE,TARGET,TOTALAREA_MODE,TOT_CHILD,TOT_INCOME,WALLSMATERIAL_MODE,W_PHONE,YEARS_BEGINEXPLUATATION,YEARS_BUILD,BIRTH_YEARS
0,0,24700.5,0.0250,0.0250,100002,0.0369,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0144,406597.5,0.083037,0.262949,0.139376,0,0,0,2.0,2.0,0,0,0,0,0,0,0,0,1,0,0,0,Secondary / secondary special,0.00,0,No,-637,1,0.0690,1.0,Single / not married,0.0833,0.1250,reg oper account,M,351000.0,block of flats,House / apartment,1,-2120,Working,0.0375,0.0205,0.0193,CL,0.0000,0.00,2.0,2.0,Laborers,Business Entity Type 3,0,1,-1134.0,10,WEDNESDAY,-3648.0,2,0,0,0.018801,2,0,Unaccompanied,1,0.0149,0,202500.0,"Stone, brick",0,0.9722,0.6243,25.92
1,1,35698.5,0.0968,0.0968,100003,0.0529,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0608,1293502.5,0.311267,0.622246,NaN,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,0,Higher education,0.08,0,No,-1188,1,0.0345,2.0,Married,0.2917,0.3333,reg oper account,F,1129500.0,block of flats,House / apartment,1,-291,State servant,0.0132,0.0787,0.0558,CL,0.0039,0.01,1.0,1.0,Core staff,School,0,0,-828.0,11,MONDAY,-1186.0,1,0,0,0.003541,1,0,Family,0,0.0714,0,270000.0,Block,0,0.9851,0.7987,45.93
2,2,6750.0,NaN,NaN,100004,NaN,0.0,0.0,0.0,0.0,0.0,0.0,26.0,NaN,135000.0,NaN,0.555912,0.729567,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,Secondary / secondary special,NaN,0,NaN,-225,1,NaN,1.0,Single / not married,NaN,NaN,NaN,M,135000.0,NaN,House / apartment,1,-2531,Working,NaN,NaN,NaN,RL,NaN,NaN,0.0,0.0,Laborers,Government,1,1,-815.0,9,MONDAY,-4260.0,2,0,0,0.010032,2,0,Unaccompanied,0,NaN,0,67500.0,NaN,1,NaN,NaN,52.18
3,3,29686.5,NaN,NaN,100006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312682.5,NaN,0.650442,NaN,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,0,Secondary / secondary special,NaN,0,NaN,-3039,1,NaN,2.0,Civil marriage,NaN,NaN,NaN,F,297000.0,NaN,House / apartment,0,-2437,Working,NaN,NaN,NaN,CL,NaN,NaN,2.0,2.0,Laborers,Business Entity Type 3,0,1,-617.0,17,WEDNESDAY,-9833.0,2,0,0,0.008019,2,0,Unaccompanied,0,NaN,0,135000.0,NaN,0,NaN,NaN,52.07
4,4,21865.5,NaN,NaN,100007,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,513000.0,NaN,0.322738,NaN,1,0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,Secondary / secondary special,NaN,0,NaN,-3038,1,NaN,1.0,Single / not married,NaN,NaN,NaN,M,513000.0,NaN,House / apartment,0,-3458,Working,NaN,NaN,NaN,CL,NaN,NaN,0.0,0.0,Core staff,Religion,0,1,-1106.0,11,THURSDAY,-4311.0,2,0,0,0.028663,2,0,Unaccompanied,0,NaN,0,121500.0,NaN,0,NaN,NaN,54.61

In [14]:
# DOC11	DOC13	DOC14	DOC15	DOC16	DOC18	DOC2	DOC21	DOC3	DOC6	DOC8	DOC9	

data = app[['DOC11','DOC13','DOC14','DOC15','DOC16','DOC18','DOC2','DOC21','DOC3','DOC6','DOC8','DOC9']]

In [4]:
from scipy import stats

In [44]:
for i in data.columns:
    print(data[i].value_counts())

0    354995
1      1260
Name: DOC11, dtype: int64
0    355171
1      1084
Name: DOC13, dtype: int64
0    355352
1       903
Name: DOC14, dtype: int64
0    355883
1       372
Name: DOC15, dtype: int64
0    353202
1      3053
Name: DOC16, dtype: int64
0    353679
1      2576
Name: DOC18, dtype: int64
0    356242
1        13
Name: DOC2, dtype: int64
0    356152
1       103
Name: DOC21, dtype: int64
1    256683
0     99572
Name: DOC3, dtype: int64
0    324913
1     31342
Name: DOC6, dtype: int64
0    326919
1     29336
Name: DOC8, dtype: int64
0    354838
1      1417
Name: DOC9, dtype: int64

In [45]:
data_1 = {'Documents':['DOC11','DOC13','DOC14','DOC15','DOC16','DOC18','DOC2','DOC21','DOC3','DOC6','DOC8','DOC9',],
        'Value':[1260, 1084, 903, 372, 3053, 2576, 13, 103, 99572, 31342, 29336, 1417]}

In [46]:
df = pd.DataFrame(data_1)

In [47]:
df

   Documents  Value
0      DOC11   1260
1      DOC13   1084
2      DOC14    903
3      DOC15    372
4      DOC16   3053
5      DOC18   2576
6       DOC2     13
7      DOC21    103
8       DOC3  99572
9       DOC6  31342
10      DOC8  29336
11      DOC9   1417

In [54]:
df_ratios = df['Value']/len(app)  # Get population ratios

In [55]:
df_ratios #ratios

0     0.003537
1     0.003043
2     0.002535
3     0.001044
4     0.008570
5     0.007231
6     0.000036
7     0.000289
8     0.279496
9     0.087976
10    0.082346
11    0.003977
Name: Value, dtype: float64

In [56]:
new = pd.read_csv('D:/machine learning/HCD/psep/new_applicants.csv')

In [57]:
new.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,427500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.015221,-18252,-4286,-298.0,-1800,7.0,1,1,0,1,0,0,Laborers,2.0,2,2,FRIDAY,13,0,0,0,0,0,0,Self-employed,0.565655,0.113375,NaN,0.0722,0.0801,0.9781,0.7008,NaN,0.00,0.1379,0.1667,0.0417,0.0534,0.0588,0.0619,0.0,0.000,0.0735,0.0831,0.9782,0.7125,NaN,0.0000,0.1379,0.1667,0.0417,0.0546,0.0643,0.0645,0.0,0.0000,0.0729,0.0801,0.9781,0.7048,NaN,0.00,0.1379,0.1667,0.0417,0.0543,0.0599,0.0630,0.0,0.0000,reg oper account,block of flats,0.0530,"Stone, brick",No,0.0,0.0,0.0,0.0,-296.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,702000.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.018029,-18724,-2628,-6573.0,-1827,NaN,1,1,0,1,0,0,Cooking staff,1.0,3,2,MONDAY,9,0,0,0,0,0,0,Business Entity Type 3,NaN,0.548477,0.190706,0.0165,0.0089,0.9732,NaN,NaN,0.00,0.0690,0.0417,NaN,0.0265,NaN,0.0094,NaN,0.000,0.0168,0.0092,0.9732,NaN,NaN,0.0000,0.0690,0.0417,NaN,0.0271,NaN,0.0083,NaN,0.0000,0.0167,0.0089,0.9732,NaN,NaN,0.00,0.0690,0.0417,NaN,0.0270,NaN,0.0096,NaN,0.0000,NaN,block of flats,0.0085,Wooden,Yes,10.0,1.0,10.0,0.0,-161.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
2,50,100058,0,Revolving loans,F,N,Y,0,54000.0,135000.0,6750.0,135000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.014520,-12406,-1176,-1149.0,-2576,NaN,1,1,0,0,0,0,Core staff,2.0,2,2,THURSDAY,9,0,0,0,0,0,0,School,0.656225,0.450850,0.479449,0.0664,0.0442,0.9980,NaN,NaN,0.08,0.0552,0.4083,0.4500,0.0085,NaN,0.0651,NaN,0.016,0.0441,0.0306,0.9980,NaN,NaN,0.0806,0.0690,0.3750,0.4167,0.0078,NaN,0.0487,NaN,0.0168,0.0822,0.0408,0.9980,NaN,NaN,0.08,0.0690,0.3750,0.4167,0.0087,NaN,0.0747,NaN,0.0163,NaN,block of flats,0.0403,Panel,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,64,100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,315000.0,NaN,Commercial associate,Secondary / secondary special,Married,House / apartment,0.028663,-13866,-2546,-5448.0,-4097,1.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,12,0,0,0,0,0,0,Transport: type 3,NaN,0.584887,0.095070,0.0124,NaN,0.9677,0.5580,0.0013,0.00,0.0690,0.0417,0.0417,0.0489,0.0101,0.0100,0.0,0.000,0.0126,NaN,0.9677,0.5753,0.0013,0.0000,0.0690,0.0417,0.0417,0.0500,0.0110,0.0105,0.0,0.0000,0.0125,NaN,0.9677,0.5639,0.0013,0.00,0.0690,0.0417,0.0417,0.0498,0.0103,0.0102,0.0,0.0000,reg oper account,block of flats,0.0079,Block,No,0.0,0.0,0.0,0.0,-3.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,81,100096,1,Cash loans,F,N,Y,0,81000.0,252000.0,14593.5,252000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.028663,-24794,365243,-5391.0,-4199,NaN,1,0,0,1,0,0,NaN,2.0,2,2,THURSDAY,10,0,0,0,0,0,0,XNA,NaN,0.023952,0.720944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# DOC11	DOC13	DOC14	DOC15	DOC16	DOC18	DOC2	DOC21	DOC3	DOC6	DOC8	DOC9	
# FLAG_DOCUMENT_2 FLAG_DOCUMENT_3 FLAG_DOCUMENT_6 FLAG_DOCUMENT_8	FLAG_DOCUMENT_9 FLAG_DOCUMENT_11 FLAG_DOCUMENT_13 FLAG_DOCUMENT_14 FLAG_DOCUMENT_15 FLAG_DOCUMENT_16 FLAG_DOCUMENT_18 FLAG_DOCUMENT_21

In [58]:
doc = new[['FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_6','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_11','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_18','FLAG_DOCUMENT_21']]

In [59]:
for i in doc.columns:
    print(doc[i].value_counts())

0    16454
Name: FLAG_DOCUMENT_2, dtype: int64
1    8805
0    7649
Name: FLAG_DOCUMENT_3, dtype: int64
0    14366
1     2088
Name: FLAG_DOCUMENT_6, dtype: int64
0    14843
1     1611
Name: FLAG_DOCUMENT_8, dtype: int64
0    16374
1       80
Name: FLAG_DOCUMENT_9, dtype: int64
0    15826
1      628
Name: FLAG_DOCUMENT_11, dtype: int64
0    15957
1      497
Name: FLAG_DOCUMENT_13, dtype: int64
0    15991
1      463
Name: FLAG_DOCUMENT_14, dtype: int64
0    16298
1      156
Name: FLAG_DOCUMENT_15, dtype: int64
0    15128
1     1326
Name: FLAG_DOCUMENT_16, dtype: int64
0    15300
1     1154
Name: FLAG_DOCUMENT_18, dtype: int64
0    16435
1       19
Name: FLAG_DOCUMENT_21, dtype: int64

In [76]:
data_2 = {'Documents':['DOC11','DOC13','DOC14','DOC15','DOC16','DOC18','DOC2','DOC21','DOC3','DOC6','DOC8','DOC9',],
        'Value':[628, 497, 463, 156, 1326, 1154, 0, 19, 8805, 2088, 1611, 80]}

In [77]:
df_new = pd.DataFrame(data_2)
df_new

   Documents  Value
0      DOC11    628
1      DOC13    497
2      DOC14    463
3      DOC15    156
4      DOC16   1326
5      DOC18   1154
6       DOC2      0
7      DOC21     19
8       DOC3   8805
9       DOC6   2088
10      DOC8   1611
11      DOC9     80

In [78]:
expected = df_ratios * len(new)   # Get expected counts

In [79]:
expected

0       58.194383
1       50.065644
2       41.705975
3       17.181199
4      141.005914
5      118.975184
6        0.600418
7        4.757160
8     4598.834228
9     1447.562190
10    1354.913037
11      65.445588
Name: Value, dtype: float64

In [80]:
observed = df_new['Value']

In [81]:
chi_squared_stat = (((observed-expected)**2)/expected).sum()

print(chi_squared_stat)

38134.27862420517

In [82]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 11)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=11)
print("P value")
print(p_value)

Critical value
19.67513757268249
P value
0.0

after inferential testing for documents in new applicants we found that they have significant difference so we need to test for each document

In [ ]:
new['FLAG_ 8805

In [93]:
chi_squared_stat = (((0-0.600418)**2)/0.600418)

print(chi_squared_stat)

crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 1)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=1)
print("P value")
print(p_value)

0.600418
Critical value
3.841458820694124
P value
0.43841858457874905

from the above inferential test we can see that doc2 and doc9 has no significance

old applicants

In [94]:
old = pd.read_csv('D:/machine learning/HCD/psep/old_applicants.csv')

In [95]:
old.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
doc1 = old[['FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_6','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_11','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_18','FLAG_DOCUMENT_21']]

In [97]:
for i in doc1.columns:
    print(doc1[i].value_counts())

0    291044
1        13
Name: FLAG_DOCUMENT_2, dtype: int64
1    209535
0     81522
Name: FLAG_DOCUMENT_3, dtype: int64
0    266067
1     24990
Name: FLAG_DOCUMENT_6, dtype: int64
0    267644
1     23413
Name: FLAG_DOCUMENT_8, dtype: int64
0    289939
1      1118
Name: FLAG_DOCUMENT_9, dtype: int64
0    290482
1       575
Name: FLAG_DOCUMENT_11, dtype: int64
0    290470
1       587
Name: FLAG_DOCUMENT_13, dtype: int64
0    290617
1       440
Name: FLAG_DOCUMENT_14, dtype: int64
0    290841
1       216
Name: FLAG_DOCUMENT_15, dtype: int64
0    289330
1      1727
Name: FLAG_DOCUMENT_16, dtype: int64
0    289711
1      1346
Name: FLAG_DOCUMENT_18, dtype: int64
0    290973
1        84
Name: FLAG_DOCUMENT_21, dtype: int64

In [98]:
data_3 = {'Documents':['DOC11','DOC13','DOC14','DOC15','DOC16','DOC18','DOC2','DOC21','DOC3','DOC6','DOC8','DOC9',],
        'Value':[575, 587, 440, 216, 1727, 1346, 13, 84, 209535, 24990, 23413, 1118]}

In [99]:
df_old = pd.DataFrame(data_3)
df_old

   Documents   Value
0      DOC11     575
1      DOC13     587
2      DOC14     440
3      DOC15     216
4      DOC16    1727
5      DOC18    1346
6       DOC2      13
7      DOC21      84
8       DOC3  209535
9       DOC6   24990
10      DOC8   23413
11      DOC9    1118

In [100]:
expected = df_ratios * len(old)   # Get expected counts
expected

0      1029.408205
1       885.617852
2       737.742547
3       303.920518
4      2494.272420
5      2104.567885
6        10.620878
7        84.150036
8     81349.391879
9     25606.120599
10    23967.237378
11     1157.675735
Name: Value, dtype: float64

In [101]:
observed = df_old['Value']

In [102]:
chi_squared_stat = (((observed-expected)**2)/expected).sum()

print(chi_squared_stat)

crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 11)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=11)
print("P value")
print(p_value)

202973.22689755887
Critical value
19.67513757268249
P value
0.0

In [112]:
chi_squared_stat = (((1727-2494.272420)**2)/2494.272420)

print(chi_squared_stat)

crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 1)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=1)
print("P value")
print(p_value)

236.02352404339862
Critical value
3.841458820694124
P value
0.0

In [19]:
test = np.array(data)

In [35]:
test.value_counts()

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [25]:
 from scipy.stats.contingency import expected_freq

In [34]:
 expected_freq(test)

array([[0.0038398 , 0.00330345, 0.00275186, ..., 0.09551353, 0.08940032,
        0.00431825],
       [0.0038398 , 0.00330345, 0.00275186, ..., 0.09551353, 0.08940032,
        0.00431825],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.0038398 , 0.00330345, 0.00275186, ..., 0.09551353, 0.08940032,
        0.00431825],
       [0.0038398 , 0.00330345, 0.00275186, ..., 0.09551353, 0.08940032,
        0.00431825],
       [0.0038398 , 0.00330345, 0.00275186, ..., 0.09551353, 0.08940032,
        0.00431825]])

In [ ]:
chi2_stat()

In [32]:
chi2_stat, p_val, dof = stats.chi2_contingency(test)

ValueError: The internally computed table of expected frequencies has a zero element at (2, 0).